body{
    background-image: url(../img/fondo.jpg);
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

/*Index*/
.nav{
    width: auto;
    height: 50px;
    background-color: rgb(255, 199, 46);
    border-radius: 15px;
    border: rgb(153, 100, 19) solid 5px;
}
.nav li{
    list-style: none;
    margin-top: 0.7%;
}
.nav a{
    font-size: 25px;
    margin: 2%;
    color: #000;
    text-decoration: none;
}

.icono{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    margin-top: 5%;
    filter: drop-shadow(-15px 8px 4px #000);
}
.icono img{
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}
.comida-popular{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 5%;
    
}

.detalleDeLaComida{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 350px;
    height: 350px;
    background-color: rgb(14, 82, 143);
    margin: 50px;
}
.vitrina{
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    border-radius: 50%;
}

.detalleDeLaComida2{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 450px;
    height: 550px;
    background-color: rgba(207, 128, 37, 0.932);
    margin: 50px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border: #000 solid 3px;
}
.vitrina2{
    margin-top: 2%;
    margin-left: 12%;
    margin-bottom: 40%;
    position: relative;
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    border-radius: 50%;
}
.vitrina2 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}
.discripcionComida{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-color: #000;
    margin-top: -30%;
}
.discripcionComida p{
    margin-left: 10%;
    margin-right: 10%;
}

/*Fin de Index*/

/*Menu Salado*/
.intruccuion{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
h2{
    color: aliceblue;
    font-size: 40px;
}
p{
    color: aliceblue;
}
.comida{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
.clases-comida{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
}
.comida2{
    border: 2px solid rgb(2, 22, 65);
    display: inline-flex;
    margin: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgba(11, 100, 116, 0.733);
    border-radius: 15px;
    transition: 0.5s;
}
.comida2:hover{
    transition: 0.5s;
    background: rgba(12, 89, 102, 0.747);
}
.comida2:focus{
    transition: 0.5s;
    background: rgba(5, 53, 61, 0.747);
}
.comida2 img{
    width: 140px;
    height: 140px;
}
.comida2 p{
    font-size: 25px;
    margin-left: 5px;
}
.parrafo span{
    font-weight: bold;
}
.botones{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.botones button{
    position: relative;
    width: 220px;
    height: 100px;
    border-radius: 15px;
    border: transparent;
    font-size: 20px;
    left: 100%;
    bottom: 100px;
    margin-top: 8px;
    margin-left: 50px;
    margin-bottom: 6px;
    box-shadow: -2px 1px 6px #000;
}
.eliminar button{
    font-size: 35px;
    color: aliceblue;
    transition: 0.7s;
    background-color: rgb(185, 0, 0);
}
.eliminar button:hover{
    box-shadow: -20px 1px 20px #000;
    transform: scale(1.05);
    transition: 0.7s;
    background-color: rgb(212, 0, 0);
}
.comprar button{
    font-size: 35px;
    color: aliceblue;
    transition: 0.7s;
    background-color: green;
}
.comprar button:hover{
    box-shadow: -20px 1px 20px #000;
    transform: scale(1.05);
    transition: 0.7s;
    background-color: rgb(0, 163, 0);
}
.comida-pedida{
    width: 585px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(148, 124, 88, 0.795);
    border: 8px solid rgb(165, 62, 2) ;
    border-radius: 15px;
}
.mensaje{
    margin-top: 15%;
    background-color: rgba(122, 101, 68, 0.884);
    border: 8px solid rgb(165, 62, 2) ;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    width: 1000px;
    height: 300px;

}
.texto-mensaje{
    color: #000;
}
.Compra-parrafo{
    font-size: 30px;
}
.boton-volver{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.boton-volver button{
    position: relative;
    width: 260px;
    height: 100px;
    border-radius: 15px;
    font-size: 20px;
    bottom: 100px;
    top: 15px;
    left: -10px;
    box-shadow: -2px 1px 6px #000;
}
.volver button{
    
    font-size: 35px;
    color: aliceblue;
    transition: 0.7s;
    background-color: rgb(5, 87, 5);
}
@media screen and (max-width: 1074px) {
    

   .botones button{
    position: relative;
    width: 220px;
    height: 100px;
    border-radius: 15px;
    border: transparent;
    font-size: 20px;
    box-shadow: -2px 1px 6px #000;
    left: 600px;
    }
    .eliminar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: rgb(185, 0, 0);

    }
    .eliminar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(212, 0, 0);
    }
    .comprar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: green;
    }
    
    .comprar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(0, 163, 0);
    }

}
@media screen and (max-width: 900px) {
    .botones{
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .botones button{
        position: relative;
        width: 220px;
        height: 100px;
        border-radius: 15px;
        border: transparent;
        font-size: 20px;
        left: -50%;
        bottom: 100px;
        margin-top: 120px;
        margin-bottom: 6px;
        box-shadow: -2px 1px 6px #000;
    }
    .eliminar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: rgb(185, 0, 0);

    }
    .eliminar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(212, 0, 0);
    }
    .comprar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: green;
    }
    
    .comprar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(0, 163, 0);
    }

}
@media screen and (max-width: 740px) {

    .comida{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
    }
    .clases-comida{
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 15px;
    }
    .comida2{
        border: 2px solid rgb(2, 22, 65);
        display: inline-flex;
        margin: 20px;
        margin-top: 1%;
        margin-bottom: 1%;
        background: rgba(11, 100, 116, 0.733);
        border-radius: 15px;
        transition: 0.5s;
    }
    .comida2:hover{
        transition: 0.5s;
        background: rgba(12, 89, 102, 0.747);
    }
    .comida2:focus{
        transition: 0.5s;
        background: rgba(5, 53, 61, 0.747);
    }
    
    .comida2 img{
        width: 140px;
        height: 140px;
    }
    .comida2 p{
        font-size: 25px;
        margin-left: 5px;
    }
    .comida-pedida{
        align-items: flex-start;
        justify-content: start;
        text-align: start;
        background-color: rgba(148, 124, 88, 0.795);
        border: 8px solid rgb(165, 62, 2) ;
        border-radius: 15px;
        margin-left: -5%;
    }
    .parrafo span{
        font-weight: bold;
        display: block;
        font-size: 20px;
    }

    .botones{
        align-items: flex-start ;
        justify-content:start;
        text-align: start;
        display: block;
    }

    .botones button{
        position: relative;
        width: 200px;
        height: 100px;
        border-radius: 15px;
        border: transparent;
        font-size: 20px;
        left: 0%;
        bottom: 100px;

        box-shadow: -2px 1px 6px #000;
    }
    .eliminar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: rgb(185, 0, 0);
        top: -160px;

    }
    .eliminar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(212, 0, 0);
    }
    .comprar button{
        font-size: 35px;
        color: aliceblue;
        transition: 0.7s;
        background-color: green;
    }
    
    .comprar button:hover{
        box-shadow: -20px 1px 20px #000;
        transform: scale(1.05);
        transition: 0.7s;
        background-color: rgb(0, 163, 0);
    }

}
/*Fin de Menu Salado*/